body{
    background-color:aliceblue;
}
.first h1{
    width: 30rem;
}
.first p{
    width: 35rem;

    }
    .first .button{
         display: flex;
         margin: bottom 5rem;
         justify-content: space-between

                  
    }
    .first .button .meta1{
        text text-decoration: ;

    }
    .meta3{
        max-width: 50%;
    }